Repository ecomfe/tempad-dev: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      run: pnpm -r typecheck
    lint:
      glob: '*.{ts,js,mjs,cjs,mts,cts,vue}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    format:
      glob: '*.{ts,js,mjs,cjs,cts,mts,json,md,yml,yaml,vue}'
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true

refactor: streamline publish workflows by removing redundant steps and adding prepare script
  .github/workflows/publish-mcp.yml
  .github/workflows/publish-plugins.yml
  packages/plugins/package.json
Due: format

chore: update changelog
  CHANGELOG.md
Due: format

chore: update format check script and add .prettierignore file
  .prettierignore
  package.json
Due: format

docs: improve mcp status badge images in README
  README.md
  README.zh-Hans.md
Due: format

refactor: update IconButton component to use variant prop and streamline styles
  packages/extension/components/IconButton.vue
  packages/extension/components/PluginInstaller.vue
  packages/extension/components/PluginItem.vue
  packages/extension/components/sections/McpSection.vue
  packages/extension/components/sections/PluginsSection.vue
  packages/extension/entrypoints/ui/style.css
Due: lint, format

feat: add idle hint functionality and enhance panel transition effects
  packages/extension/entrypoints/ui/App.vue
Due: lint, format

feat: implement cursor override for duplicate cursor handling in measure tool
  packages/extension/composables/key-lock.ts
  packages/extension/entrypoints/ui/style.css
Due: lint, format

docs: update measure tool screenshots
  packages/extension/assets/measure-dark.png
  packages/extension/assets/measure-light.png
Due: none

docs: update changelog and version
  CHANGELOG.md
  package.json
  packages/extension/package.json
Due: format

chore: add zip configuration for artifact template in wxt.config.ts
  packages/extension/wxt.config.ts
Due: lint, format

chore: update version and fix MCP client button styles
  CHANGELOG.md
  packages/extension/components/sections/McpSection.vue
  packages/extension/package.json
Due: lint, format

chore: move .env to extension dir
  packages/extension/.env
Due: none

fix: add back host_permissions
  CHANGELOG.md
  packages/extension/package.json
  packages/extension/wxt.config.ts
Due: lint, format

fix: fix inset and negative value handling
  packages/extension/utils/tailwind.ts
Due: lint, format

feat: enhance custom property handling, variable transforms, and code generation
  packages/extension/mcp/tools/code/assets/vector.ts
  packages/extension/mcp/tools/code/collect.ts
  packages/extension/mcp/tools/code/index.ts
  packages/extension/mcp/tools/code/render/index.ts
  packages/extension/mcp/tools/code/text/render.ts
  packages/extension/mcp/tools/code/text/style.ts
  packages/extension/mcp/tools/code/variables.ts
  packages/extension/mcp/tools/token/candidates.ts
  packages/extension/mcp/tools/token/defs.ts
  packages/extension/mcp/tools/token/indexer.ts
  packages/extension/mcp/tools/token/mapping.ts
  packages/extension/utils/css.ts
  packages/extension/utils/tailwind.ts
Due: lint, format

feat: rewrite the main pipeline
  packages/extension/mcp/tools/code/assets/export.ts
  packages/extension/mcp/tools/code/assets/image.ts
  packages/extension/mcp/tools/code/assets/index.ts
  packages/extension/mcp/tools/code/assets/plan.ts
  packages/extension/mcp/tools/code/assets/vector.ts
  packages/extension/mcp/tools/code/collect.ts
  packages/extension/mcp/tools/code/index.ts
  packages/extension/mcp/tools/code/layout-parent.ts
  packages/extension/mcp/tools/code/messages.ts
  packages/extension/mcp/tools/code/model.ts
  packages/extension/mcp/tools/code/render/index.ts
  packages/extension/mcp/tools/code/render/props.ts
  packages/extension/mcp/tools/code/render/types.ts
  packages/extension/mcp/tools/code/sanitize/index.ts
  packages/extension/mcp/tools/code/sanitize/negative-gap.ts
  packages/extension/mcp/tools/code/sanitize/relative-parent.ts
  packages/extension/mcp/tools/code/styles/background.ts
  packages/extension/mcp/tools/code/styles/index.ts
  packages/extension/mcp/tools/code/styles/layout.ts
  packages/extension/mcp/tools/code/styles/normalize.ts
  packages/extension/mcp/tools/code/styles/overflow.ts
  packages/extension/mcp/tools/code/text/render.ts
  packages/extension/mcp/tools/code/text/style.ts
  packages/extension/mcp/tools/code/tokens/cache.ts
  packages/extension/mcp/tools/code/tokens/extract.ts
  packages/extension/mcp/tools/code/tokens/index.ts
  packages/extension/mcp/tools/code/tokens/resolve.ts
  packages/extension/mcp/tools/code/tokens/rewrite.ts
  packages/extension/mcp/tools/code/tokens/source-index.ts
  packages/extension/mcp/tools/code/tokens/transform.ts
  packages/extension/mcp/tools/code/tokens/used.ts
  packages/extension/mcp/tools/code/tree.ts
  packages/extension/mcp/tools/token/candidates.ts
  packages/extension/mcp/tools/token/indexer.ts
  packages/extension/utils/css.ts
  packages/mcp-server/src/tools.ts
  packages/mcp-shared/src/tools.ts
Due: lint, format

feat: enhance TAILWIND_CONFIG with additional keywords for color properties
  packages/extension/utils/tailwind.ts
Due: lint, format

feat: add comprehensive agent guides for extension, MCP server, shared contracts, and plugins
  AGENTS.md
  docs/extension/design.md
  docs/extension/requirements.md
  packages/extension/AGENTS.md
  packages/mcp-server/AGENTS.md
  packages/mcp-shared/AGENTS.md
  packages/plugins/AGENTS.md
Due: format

fix: replace getRenderBounds with getLayoutBounds for improved overflow calculations
  packages/extension/mcp/tools/code/styles/overflow.ts
Due: lint, format

feat: enhance token handling and style normalization with new stacking and layout functions
  packages/extension/mcp/tools/code/index.ts
  packages/extension/mcp/tools/code/sanitize/index.ts
  packages/extension/mcp/tools/code/sanitize/relative-parent.ts
  packages/extension/mcp/tools/code/sanitize/stacking.ts
  packages/extension/mcp/tools/code/styles/normalize.ts
  packages/extension/mcp/tools/code/styles/overflow.ts
  packages/extension/mcp/tools/code/tokens/resolve.ts
  packages/extension/mcp/tools/code/tokens/source-index.ts
  packages/extension/mcp/tools/code/tokens/transform.ts
  packages/extension/mcp/tools/code/tokens/used.ts
  packages/extension/mcp/tools/token/mapping.ts
  packages/extension/utils/css.ts
  packages/extension/utils/tailwind.ts
Due: lint, format
