Repository ecomfe/tempad-dev: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

chore: update formatting workflow
  .lefthook.yml
  packages/extension/entrypoints/ui/style.css
  packages/extension/package.json
Due: format

fix: polish site copy and mobile header
  README.md
  packages/extension/package.json
  packages/site/src/sections/HeroSection.vue
  packages/site/src/styles.css
Due: lint, format

feat: refine site copy
  packages/site/src/sections/ConnectSection.vue
  packages/site/src/sections/HeroSection.vue
  packages/site/src/sections/InspectSection.vue
  packages/site/src/sections/TransformSection.vue
Due: lint, format

Fix site formatting workflow
  packages/site/package.json
Due: format

fix(site): update formatting workflow
  packages/site/package.json
Due: format

refactor: share mcp client brand icons
  packages/extension/components/icons/brands/BrandIcon.vue
  packages/extension/components/icons/brands/Claude.vue
  packages/extension/components/icons/brands/Codex.vue
  packages/extension/components/icons/brands/Cursor.vue
  packages/extension/components/icons/brands/TRAE.vue
  packages/extension/components/icons/brands/VSCode.vue
  packages/extension/components/icons/brands/Windsurf.vue
  packages/extension/components/sections/McpSection.vue
  packages/shared/package.json
  packages/shared/src/mcp/install.ts
  packages/shared/src/svg-raw.d.ts
  packages/shared/src/ui/assets/claude.svg
  packages/shared/src/ui/assets/codex.svg
  packages/shared/src/ui/assets/cursor.svg
  packages/shared/src/ui/assets/trae.svg
  packages/shared/src/ui/assets/vscode.svg
  packages/shared/src/ui/assets/windsurf.svg
  packages/shared/src/ui/brand-icons.ts
  packages/shared/src/ui/index.ts
Due: lint, format

chore(site): pin oxfmt trailing comma style
  packages/site/.oxfmtrc.json
Due: format

Pin site oxfmt trailing comma style
  packages/site/.oxfmtrc.json
Due: format

Unify oxfmt config usage
  .lefthook.yml
  packages/extension/package.json
  packages/mcp-server/package.json
  packages/plugins/package.json
  packages/shared/package.json
  packages/site/.oxfmtrc.json
  packages/site/package.json
Due: format

chore: unify oxfmt config usage
  .lefthook.yml
  packages/extension/package.json
  packages/mcp-server/package.json
  packages/plugins/package.json
  packages/shared/package.json
  packages/site/.oxfmtrc.json
  packages/site/package.json
Due: format

chore: update site html copy
  packages/site/index.html
Due: none

release(extension): 0.18.2
  packages/extension/CHANGELOG.md
  packages/extension/components/Code.vue
  packages/extension/entrypoints/ui/global.d.ts
  packages/extension/entrypoints/ui/index.ts
  packages/extension/entrypoints/ui/prism.ts
  packages/extension/package.json
  pnpm-lock.yaml
Due: lint, format

feat(site): add Vercel analytics
  packages/site/package.json
  packages/site/src/main.ts
  pnpm-lock.yaml
Due: lint, format

chore: patch serialize-javascript alert
  package.json
  pnpm-lock.yaml
Due: format

chore: patch serialize-javascript alert (#85)
  package.json
  pnpm-lock.yaml
Due: format

feat(site): refine hero fold layout
  AGENTS.md
  package.json
  packages/site/src/components/BrandIcon.vue
  packages/site/src/sections/ConnectSection.vue
  packages/site/src/styles.css
Due: lint, format

build: upgrade vite to 8.0.0
  package.json
  packages/site/package.json
  pnpm-lock.yaml
Due: format

chore: switch formatting to oxfmt
  .github/workflows/build.yml
  .lefthook.yml
  .oxfmtignore
  .oxfmtrc.json
  .prettierignore
  .prettierrc
  eslint.config.js
  eslint.config.ts
  eslint.shared.ts
  package.json
  packages/extension/entrypoints/ui/style.css
  packages/extension/eslint.config.js
  packages/extension/eslint.config.ts
  packages/extension/package.json
  packages/mcp-server/package.json
  packages/plugins/package.json
  packages/shared/package.json
  packages/site/.oxlintrc.json
  packages/site/index.html
  packages/site/package.json
  packages/site/src/components/BrandIcon.vue
  packages/site/src/components/DetailList.vue
  packages/site/src/components/HeroFigure.vue
  packages/site/src/sections/InspectSection.vue
  packages/site/src/sections/TransformSection.vue
  packages/site/src/styles.css
  packages/site/vite.config.ts
  pnpm-lock.yaml
  tsconfig.configs.json
Due: lint, format

test: move worker sandbox check into test flow
  TESTING.md
  docs/testing/architecture.md
  package.json
  packages/extension/package.json
Due: format

ci: rely on packageManager for pnpm version
  .github/workflows/build.yml
  .github/workflows/check-rewrite.yml
  .github/workflows/deploy-rewrite.yml
  .github/workflows/publish-mcp.yml
  .github/workflows/publish-plugins.yml
Due: format

docs(skill): refine figma design-to-code guidance
  docs/skill/rationale.md
  skill/SKILL.md
Due: format

Path conditions:
  lint: any of: *.{ts,js,mjs,cjs,mts,cts,vue}
  format: any of: *.{ts,js,mjs,cjs,cts,mts,json,md,yml,yaml,vue}
