Repository ecomfe/tempad-dev: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      run: pnpm -r typecheck
    lint:
      glob: '*.{ts,js,mjs,cjs,mts,cts,vue}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    format:
      glob: '*.{ts,js,mjs,cjs,cts,mts,json,md,yml,yaml,vue}'
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true

fix: resolve dependabot alerts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

chore(renovate): bump dependency ranges
  renovate.json
Due: format

fix: add header button gap
  packages/extension/CHANGELOG.md
  packages/extension/entrypoints/ui/App.vue
  packages/extension/package.json
Due: lint, format

fix(mcp-server): prevent duplicate hub instances
  packages/mcp-server/src/cli.ts
  packages/mcp-server/src/hub.ts
  packages/mcp-server/src/shared.ts
  packages/mcp-server/tests/shared.test.ts
Due: lint, format

feat(agent): add Codex plugin integration
  .agents/plugins/marketplace.json
  README.md
  README.zh-Hans.md
  packages/extension/components/icons/brands/BrandIcon.vue
  packages/extension/components/sections/McpSection.vue
  packages/extension/mcp/config.ts
  packages/extension/tests/mcp/config.test.ts
  packages/mcp-server/README.md
  packages/mcp-server/README.zh-Hans.md
  packages/mcp-server/src/tools.ts
  packages/mcp-server/tests/tools.test.ts
  packages/shared/src/mcp/install.ts
  packages/shared/src/ui/assets/windsurf.svg
  packages/shared/src/ui/brand-icons.ts
  packages/shared/tests/mcp/install.test.ts
  packages/site/src/components/BrandIcon.vue
  packages/site/src/content/landing.ts
  packages/site/src/sections/ConnectSection.vue
  plugins/tempad-dev/.codex-plugin/plugin.json
  plugins/tempad-dev/.mcp.json
  plugins/tempad-dev/README.md
  plugins/tempad-dev/skills/figma-design-to-code/SKILL.md
Due: lint, format

chore(release): prepare agent integration release
  packages/extension/CHANGELOG.md
  packages/extension/package.json
  packages/mcp-server/CHANGELOG.md
  packages/mcp-server/package.json
Due: format

chore(agent): sync Codex plugin skill on lint
  .lefthook.yml
  eslint.config.ts
  package.json
  scripts/sync-codex-plugin-skill.mjs
Due: lint, format

docs: note browser permissions required for local MCP connection
  README.md
Due: format

feat(mcp): route local gateway through extension
  packages/extension/components/sections/McpSection.vue
  packages/extension/composables/mcp.ts
  packages/extension/entrypoints/background.ts
  packages/extension/entrypoints/mcp.content.ts
  packages/extension/entrypoints/ui/App.vue
  packages/extension/mcp/assets.ts
  packages/extension/mcp/bridge/content.ts
  packages/extension/mcp/broker/hub-client.ts
  packages/extension/mcp/broker/service-worker.ts
  packages/extension/mcp/broker/sessions.ts
  packages/extension/mcp/permissions.ts
  packages/extension/mcp/runtime.ts
  packages/extension/mcp/transport.ts
  packages/extension/tests/mcp/assets.test.ts
  packages/extension/tests/mcp/bridge/content.test.ts
  packages/extension/tests/mcp/broker/hub-client.test.ts
  packages/extension/tests/mcp/broker/service-worker.test.ts
  packages/extension/tests/mcp/broker/sessions.test.ts
  packages/extension/tests/mcp/runtime.test.ts
  packages/extension/tests/mcp/transport.test.ts
  packages/extension/vitest.node.config.ts
  packages/extension/wxt.config.ts
  packages/mcp-server/src/hub.ts
  packages/mcp-server/src/tools.ts
  packages/shared/src/mcp/browser-gateway.ts
  packages/shared/src/mcp/index.ts
  packages/shared/src/mcp/protocol.ts
  packages/shared/tests/index.test.ts
  packages/shared/tests/mcp/browser-gateway.test.ts
  packages/shared/tests/mcp/index.test.ts
  packages/shared/tests/mcp/protocol.test.ts
  packages/shared/vitest.config.ts
  vitest.config.ts
Due: lint, format

chore(release): prepare browser gateway release
  packages/extension/CHANGELOG.md
  packages/extension/package.json
  packages/mcp-server/CHANGELOG.md
  packages/mcp-server/package.json
  packages/shared/package.json
Due: format

chore(release): keep shared version
  packages/shared/package.json
Due: format

fix(mcp): avoid noisy WebSocket port probes
  packages/extension/mcp/broker/hub-client.ts
  packages/extension/tests/mcp/broker/hub-client.test.ts
Due: lint, format

fix(mcp): simplify hub port probing
  packages/extension/components/sections/McpSection.vue
  packages/extension/mcp/broker/hub-client.ts
  packages/extension/tests/mcp/broker/hub-client.test.ts
Due: lint, format

chore(release): bump mcp to 0.6.3
  packages/mcp-server/CHANGELOG.md
  packages/mcp-server/package.json
Due: format

fix(mcp): keep the permission channel open on Chromium
  packages/extension/mcp/broker/service-worker.ts
  packages/extension/tests/mcp/broker/service-worker.test.ts
Due: lint, format

fix(extension): surface MCP permission retry
  packages/extension/CHANGELOG.md
  packages/extension/components/Badge.vue
  packages/extension/composables/mcp.ts
  packages/extension/entrypoints/ui/App.vue
  packages/extension/mcp/bridge/content.ts
  packages/extension/mcp/broker/service-worker.ts
  packages/extension/mcp/permissions.ts
  packages/extension/package.json
  packages/extension/tests/composables/mcp.test.ts
  packages/extension/tests/mcp/bridge/content.test.ts
  packages/extension/tests/mcp/broker/service-worker.test.ts
Due: lint, format

fix(extension): stabilize MCP browser gateway
  AGENTS.md
  TESTING.md
  docs/extension/mcp-browser-gateway-design.md
  docs/extension/mcp-get-code-design.md
  docs/extension/mcp-get-code-requirements.md
  packages/extension/AGENTS.md
  packages/extension/components/sections/McpSection.vue
  packages/extension/composables/mcp.ts
  packages/extension/entrypoints/background.ts
  packages/extension/entrypoints/main.content.ts
  packages/extension/entrypoints/mcp.content.ts
  packages/extension/mcp/assets.ts
  packages/extension/mcp/bridge/content.ts
  packages/extension/mcp/broker/hub-client.ts
  packages/extension/mcp/broker/service-worker.ts
  packages/extension/mcp/permissions.ts
  packages/extension/tests/mcp/assets.test.ts
  packages/extension/tests/mcp/bridge/content.test.ts
  packages/extension/tests/mcp/broker/hub-client.test.ts
  packages/extension/tests/mcp/broker/service-worker.test.ts
  packages/extension/wxt.config.ts
  packages/shared/src/mcp/browser-gateway.ts
  packages/shared/tests/mcp/browser-gateway.test.ts
Due: lint, format

chore(extension): release 0.18.13
  packages/extension/CHANGELOG.md
  packages/extension/package.json
Due: format

docs: clarify MCP browser permissions
  README.md
  README.zh-Hans.md
Due: format

feat: automate marketing screenshots
  .gitignore
  AGENTS.md
  docs/marketing-screenshots.md
  package.json
  packages/extension/package.json
  packages/extension/screenshots/fixture-runtime.js
  packages/extension/screenshots/scenarios.json
  packages/extension/scripts/capture-screenshots.ts
  packages/extension/scripts/compare-screenshots.ts
  packages/extension/scripts/process-screenshot.ts
  packages/extension/scripts/promote-screenshots.ts
  packages/extension/scripts/verify-screenshots.ts
  packages/site/public/marketing/code-dark.png
  packages/site/public/marketing/code-light.png
  packages/site/public/marketing/deep-dark.png
  packages/site/public/marketing/deep-light.png
  packages/site/public/marketing/mcp-active-dark.png
  packages/site/public/marketing/mcp-active-light.png
  packages/site/public/marketing/mcp-config-dark.png
  packages/site/public/marketing/mcp-config-light.png
  packages/site/public/marketing/mcp-inactive-dark.png
  packages/site/public/marketing/mcp-inactive-light.png
  packages/site/public/marketing/mcp-unavailable-dark.png
  packages/site/public/marketing/mcp-unavailable-light.png
  packages/site/public/marketing/measure-dark.png
  packages/site/public/marketing/measure-light.png
  packages/site/public/marketing/plugins-dark.png
  packages/site/public/marketing/plugins-light.png
  packages/site/public/marketing/scroll-dark.png
  packages/site/public/marketing/scroll-light.png
  packages/site/public/marketing/unit-dark.png
  packages/site/public/marketing/unit-light.png
Due: lint, format

fix: refine marketing screenshot composition
  docs/marketing-screenshots.md
  packages/extension/screenshots/fixture-runtime.js
  packages/extension/screenshots/scenarios.json
  packages/extension/scripts/capture-screenshots.ts
  packages/site/public/marketing/code-dark.png
  packages/site/public/marketing/deep-dark.png
  packages/site/public/marketing/mcp-config-dark.png
  packages/site/public/marketing/mcp-config-light.png
  packages/site/public/marketing/measure-dark.png
  packages/site/public/marketing/scroll-dark.png
  packages/site/public/marketing/unit-dark.png
Due: lint, format

fix: isolate plugin screenshot state
  docs/marketing-screenshots.md
  packages/extension/screenshots/fixture-runtime.js
  packages/extension/screenshots/scenarios.json
  packages/extension/scripts/capture-screenshots.ts
  packages/extension/scripts/verify-screenshots.ts
  packages/site/public/marketing/scroll-dark.png
  packages/site/public/marketing/scroll-light.png
Due: lint, format

fix: align screenshot pointer hotspots
  docs/marketing-screenshots.md
  packages/extension/screenshots/fixture-runtime.js
  packages/extension/screenshots/scenarios.json
  packages/extension/scripts/capture-screenshots.ts
  packages/site/public/marketing/scroll-dark.png
  packages/site/public/marketing/scroll-light.png
  packages/site/public/marketing/unit-dark.png
  packages/site/public/marketing/unit-light.png
Due: lint, format

chore: simplify screenshot commands
  docs/marketing-screenshots.md
  package.json
  packages/extension/package.json
  packages/extension/scripts/capture-screenshots.ts
  packages/extension/scripts/process-screenshot.ts
  packages/extension/scripts/promote-screenshots.ts
  packages/extension/scripts/screenshots.ts
Due: lint, format

fix: omit non-positive vector asset dimensions
  packages/extension/mcp/tools/code/assets/vector.ts
Due: lint, format

chore(extension): release 0.18.14
  packages/extension/CHANGELOG.md
  packages/extension/mcp/tools/code/assets/vector.ts
  packages/extension/package.json
  packages/extension/tests/mcp/tools/code/assets/vector.test.ts
Due: lint, format

chore: apply updated formatting
  docs/extension/multi-fill-background-design.md
  packages/extension/utils/css.ts
Due: lint, format

fix(extension): hide read-only mode controls
  packages/extension/entrypoints/ui/style.css
Due: none

feat(extension): redesign agent integration
  .claude-plugin/marketplace.json
  README.md
  README.zh-Hans.md
  docs/marketing-screenshots.md
  packages/extension/CHANGELOG.md
  packages/extension/components/IconButton.vue
  packages/extension/components/SegmentedControl.vue
  packages/extension/components/Select.vue
  packages/extension/components/icons/Ellipsis.vue
  packages/extension/components/sections/McpSection.vue
  packages/extension/mcp/config.ts
  packages/extension/package.json
  packages/extension/screenshots/scenarios.json
  packages/extension/scripts/capture-screenshots.ts
  packages/extension/tests/components/select.browser.test.ts
  packages/extension/tests/mcp/config.test.ts
  packages/mcp-server/README.md
  packages/mcp-server/README.zh-Hans.md
  packages/shared/src/mcp/install.ts
  packages/shared/src/ui/assets/codex.svg
  packages/shared/src/ui/assets/gemini.svg
  packages/shared/src/ui/brand-icons.ts
  packages/shared/tests/mcp/install.test.ts
  packages/site/public/marketing/mcp-config-dark.png
  packages/site/public/marketing/mcp-config-light.png
  packages/site/src/content/landing.ts
  plugins/tempad-dev/.claude-plugin/plugin.json
  plugins/tempad-dev/README.md
  plugins/tempad-dev/skills/figma-design-to-code/SKILL.md
  skill/SKILL.md
Due: lint, format

fix(mcp): align server identity metadata
  packages/mcp-server/src/hub.ts
Due: lint, format

chore(agent): align plugin layout and release versions
  .agents/plugins/marketplace.json
  .claude-plugin/marketplace.json
  .lefthook.yml
  AGENTS.md
  README.md
  README.zh-Hans.md
  agent-plugins/tempad-dev/.claude-plugin/plugin.json
  agent-plugins/tempad-dev/.codex-plugin/plugin.json
  agent-plugins/tempad-dev/.mcp.json
  agent-plugins/tempad-dev/README.md
  agent-plugins/tempad-dev/skills/figma-design-to-code/SKILL.md
  package.json
  packages/extension/CHANGELOG.md
  packages/extension/package.json
  packages/mcp-server/CHANGELOG.md
  packages/mcp-server/package.json
  scripts/sync-agent-plugin-skill.mjs
Due: lint, format
