Repository ecomfe/tempad-dev: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      run: pnpm -r typecheck
    lint:
      glob: '*.{ts,js,mjs,cjs,mts,cts,vue}'
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true
    format:
      glob: '*.{ts,js,mjs,cjs,cts,mts,json,md,yml,yaml,vue}'
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true

fix(extension): pin loader to extension ui entry
  packages/extension/entrypoints/loader.ts
  packages/extension/entrypoints/main.content.ts
Due: lint, format

fix(shared): avoid regex scan for lightgray url detection
  packages/shared/src/figma/style-resolver.ts
Due: lint, format

fix(shared): strip lightgray fallback without backtracking regex
  packages/shared/src/figma/style-resolver.ts
  packages/shared/tests/figma/style-resolver.test.ts
Due: lint, format

fix(extension): escape backslashes in JS string output
  packages/extension/tests/utils/css.test.ts
  packages/extension/utils/css.ts
Due: lint, format

fix(extension): escape template literal control sequences
  packages/extension/tests/utils/css.test.ts
  packages/extension/utils/css.ts
Due: lint, format

refactor: simplify recent security hardening helpers
  packages/extension/utils/css.ts
  packages/shared/src/figma/style-resolver.ts
Due: lint, format

refactor(shared): simplify lightgray fallback handling
  packages/shared/src/figma/style-resolver.ts
  packages/shared/tests/figma/style-resolver.test.ts
Due: lint, format

refactor(extension): share JS string escaping helpers
  packages/extension/tests/utils/string.test.ts
  packages/extension/utils/css.ts
  packages/extension/utils/string.ts
Due: lint, format

chore(extension): bump version to 0.17.4
  packages/extension/CHANGELOG.md
  packages/extension/package.json
Due: format

Improve smart vector delivery for MCP codegen
  docs/extension/design.md
  docs/extension/requirements.md
  packages/extension/CHANGELOG.md
  packages/extension/mcp/assets.ts
  packages/extension/mcp/runtime.ts
  packages/extension/mcp/tools/code/assets/export.ts
  packages/extension/mcp/tools/code/assets/plan.ts
  packages/extension/mcp/tools/code/assets/svg.ts
  packages/extension/mcp/tools/code/assets/vector-semantics.ts
  packages/extension/mcp/tools/code/assets/vector.ts
  packages/extension/mcp/tools/code/index.ts
  packages/extension/package.json
  packages/extension/tests/mcp/assets.test.ts
  packages/extension/tests/mcp/runtime.test.ts
  packages/extension/tests/mcp/tools/code/assets/export.test.ts
  packages/extension/tests/mcp/tools/code/assets/plan.test.ts
  packages/extension/tests/mcp/tools/code/assets/vector.test.ts
  packages/mcp-server/CHANGELOG.md
  packages/mcp-server/package.json
  packages/mcp-server/src/asset-http-server.ts
  packages/mcp-server/src/hub.ts
  packages/mcp-server/src/instructions.md
  packages/mcp-server/src/tools.ts
  packages/mcp-server/src/types.ts
  packages/mcp-server/tests/asset-http-server.unit.test.ts
  packages/mcp-server/tests/asset-store.test.ts
  packages/shared/src/mcp/tools.ts
  packages/shared/tests/mcp/tools.test.ts
  pnpm-lock.yaml
  skill/SKILL.md
Due: lint, format

feat(mcp): improve smart vector delivery for codegen
  docs/extension/design.md
  docs/extension/requirements.md
  packages/extension/CHANGELOG.md
  packages/extension/mcp/assets.ts
  packages/extension/mcp/runtime.ts
  packages/extension/mcp/tools/code/assets/export.ts
  packages/extension/mcp/tools/code/assets/plan.ts
  packages/extension/mcp/tools/code/assets/svg.ts
  packages/extension/mcp/tools/code/assets/vector-semantics.ts
  packages/extension/mcp/tools/code/assets/vector.ts
  packages/extension/mcp/tools/code/index.ts
  packages/extension/package.json
  packages/extension/tests/mcp/assets.test.ts
  packages/extension/tests/mcp/runtime.test.ts
  packages/extension/tests/mcp/tools/code/assets/export.test.ts
  packages/extension/tests/mcp/tools/code/assets/plan.test.ts
  packages/extension/tests/mcp/tools/code/assets/vector.test.ts
  packages/mcp-server/CHANGELOG.md
  packages/mcp-server/package.json
  packages/mcp-server/src/asset-http-server.ts
  packages/mcp-server/src/hub.ts
  packages/mcp-server/src/instructions.md
  packages/mcp-server/src/tools.ts
  packages/mcp-server/src/types.ts
  packages/mcp-server/tests/asset-http-server.unit.test.ts
  packages/mcp-server/tests/asset-store.test.ts
  packages/shared/src/mcp/tools.ts
  packages/shared/tests/mcp/tools.test.ts
  pnpm-lock.yaml
  skill/SKILL.md
Due: lint, format

revert(extension): pin loader to extension UI entry
  packages/extension/entrypoints/loader.ts
  packages/extension/entrypoints/main.content.ts
Due: lint, format

Revert "fix(extension): pin loader to extension ui entry"
  packages/extension/entrypoints/loader.ts
  packages/extension/entrypoints/main.content.ts
Due: lint, format

refactor: simplify site hero and connect logic
  packages/site/src/components/HeroFigure.vue
  packages/site/src/sections/ConnectSection.vue
Due: lint, format

chore: polish site landing assets and interactions
  packages/site/index.html
  packages/site/public/favicon.ico
  packages/site/reference/claude.tsx
  packages/site/reference/codex.tsx
  packages/site/src/App.vue
Due: lint, format

chore: update site html metadata
  packages/site/index.html
Due: none

feat: polish site theming and assets
  README.md
  README.zh-Hans.md
  packages/extension/assets/code-light.png
  packages/extension/assets/deep-light.png
  packages/extension/assets/hero-light.svg
  packages/extension/assets/mcp-active-light.png
  packages/extension/assets/mcp-config-light.png
  packages/extension/assets/measure-light.png
  packages/extension/assets/plugins-light.png
  packages/extension/assets/scroll-light.png
  packages/extension/assets/unit-light.png
  packages/site/package.json
  packages/site/public/marketing/code-dark.png
  packages/site/public/marketing/deep-dark.png
  packages/site/public/marketing/hero-dark.svg
  packages/site/public/marketing/mcp-active-dark.png
  packages/site/public/marketing/mcp-config-dark.png
  packages/site/public/marketing/mcp-inactive-dark.png
  packages/site/public/marketing/mcp-inactive-light.png
  packages/site/public/marketing/mcp-unavailable-dark.png
  packages/site/public/marketing/mcp-unavailable-light.png
  packages/site/public/marketing/measure-dark.png
  packages/site/public/marketing/plugins-dark.png
  packages/site/public/marketing/scroll-dark.png
  packages/site/public/marketing/unit-dark.png
  packages/site/src/App.vue
  packages/site/src/components/HeroFigure.vue
  packages/site/src/composables/useSiteColorMode.ts
  packages/site/src/content/landing.ts
  packages/site/src/sections/ConnectSection.vue
  packages/site/src/sections/InspectSection.vue
  packages/site/src/sections/TransformSection.vue
  packages/site/src/styles.css
  pnpm-lock.yaml
Due: lint, format

feat: refine site carousel and theme behavior
  packages/site/src/components/BrandMark.vue
  packages/site/src/components/HeroFigure.vue
  packages/site/src/content/landing.ts
  packages/site/src/sections/InspectSection.vue
  packages/site/src/sections/TransformSection.vue
Due: lint, format

chore: bump extension to 0.18.1
  packages/extension/CHANGELOG.md
  packages/extension/package.json
Due: format

docs: update 0.18.1 changelog
  packages/extension/CHANGELOG.md
Due: format
